.tester{
  justify-content: space-evenly;

}

.scoreboard{
  min-height: 5vh;
  background-color: darkseagreen;
  color: black
}

.buttons{
  position: absolute;
  bottom: 0;
  right: 0;
}

.card{
  width: 18rem;
}
.card-img-top{
  height: 33vh
}
.body {
    padding:0;
    margin:0;
    overflow:hidden;
	  max-height: 120vh;
}
.canvas {
    padding:0;
    margin:0;
    opacity: .5;
    max-height: 120vh;
}
.btnbg {
    position: absolute;
    left:0;
    top:0;
    opacity: 1;
    max-height: 120vh;
}